<footer style>
    <!-- <p>hosted by <a href="https://www.heroku.com/">heroku</a>.</p> -->
    <!-- <p>created by <a href="http://github.com/sloria">sloria</a>.</p> -->
    <p style = "text-align: center; font-size: .8em">all rights reserved, under MIT license.<br> powered by <a href="https://textblob.readthedocs.org/">textblob</a>, <a href="http://www.nltk.org/">nltk</a>, <a href="http://pandas.pydata.org/">pandas</a>, <a href="http://www.numpy.org/">NumPy</a>, <a href="https://www.scipy.org/">SciPy</a>, and <a href="http://scikit-learn.org/stable/">scikit-learn.</a></p>
</footer>